.task {
  width: "18rem" !important;
  min-width: 250px !important;
  margin: 8px;
}
.task .task-controls {
  display: flex;
  justify-content: flex-end;
}
.task .task-controls button {
  margin: 5px;
}