.task {
  width: 250px;
  max-height: 300px;
  margin: 8px;
}
.task .pDate {
  font-size: smaller;
  margin: 0;
}
.task .card-header {
  max-height: 100px !important;
  min-height: 70px;
  height: -moz-fit-content;
  height: fit-content;
}
.task .card-body {
  max-height: 300px;
  min-height: 100px;
}
.task .card-header,
.task .card-body {
  overflow: auto;
}
.task .card-header::-webkit-scrollbar-track,
.task .card-body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.183);
}
.task .card-header::-webkit-scrollbar,
.task .card-body::-webkit-scrollbar {
  width: 5px;
}
.task .card-header::-webkit-scrollbar-thumb,
.task .card-body::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, rgba(0, 0, 0, 0.4392156863)), color-stop(0.72, rgba(0, 0, 0, 0.6509803922)), color-stop(0.86, rgba(0, 0, 0, 0.8862745098)));
}
.task .task-controls {
  display: flex;
  justify-content: flex-end;
}
.task .task-controls button {
  margin: 5px;
}