.todo-btn {
  display: flex !important;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  transition-duration: 0.3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  box-sizing: border-box;
}
.todo-btn .icon {
  width: 100%;
  transition-duration: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.todo-btn .text {
  color: white;
  transition-duration: 0.6s;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}
.todo-btn:hover {
  transition-duration: 0.3s;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
  transform: translateY(0.1em);
}
.todo-btn.full-btn {
  position: relative;
  overflow: hidden;
  transition-duration: 0.3s;
  height: 30px !important;
  transform: none;
}
.todo-btn.full-btn .text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  transition-duration: 0.6s;
}
.todo-btn.full-btn:hover {
  transition-duration: 0.3s;
}
.todo-btn.full-btn:hover .icon {
  width: -moz-fit-content;
  width: fit-content;
  transition-duration: 0.3s;
  justify-content: flex-start;
}
.todo-btn.full-btn:hover .text {
  opacity: 1;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  transition-duration: 0.3s;
  margin-left: 5px;
}