nav {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.copyright {
  font-size: small !important;
  color: #888 !important;
}
.copyright a {
  color: #b4b4b4 !important;
  transition: all 500ms;
}
.copyright a:hover {
  color: #5471d8 !important;
  transition: all 500ms;
}