#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  width: 100%;
  /* text-align: center; */
}

.main{
  margin-top: 30px;
  padding: 10px;
}
.main-row{
  width: 100% !important;
}
.main-col{
  padding: 10px;
  border-radius: 5px;
}
.main-top{
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
